*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}


/*верстка*/

.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    color: #fff;
    background-color: #1b1919;
    inline-size: 1200px;
    block-size: 100%;
}

.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

.content {
    display: flex;
    align-items: end;
    gap: 30px;
    inline-size: 1140px;
}

.result__video-container {
    width: 711px;
    height: 386px;
    margin-bottom: 16px;
}

.result__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.result__video-container,
.content__list {
    position: relative;
}

.search-form {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.search-form__fieldset {
    border: 0;
}

.search-form__fieldset-title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: left;
    color: #fff;
    margin-bottom: 5px;
}

.search-form__checkbox-list {
    display: flex;
}

.search-form__label {
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
}

.search-form__label:not(:last-child) {
    margin-right: 15px;
}

.search-form__label:has(:focus-visible) {
    outline: 1px solid #fff;
    outline-offset: 1px;
}


/* добавленнный элемент */

.search-form__label:has(.search-form__textfield:active) {
    outline: none;
}

.search-form__textfield {
    min-width: 225px;
    min-height: 27px;
    border: 0;
    border-top: 1px #fff solid;
    border-bottom: 1px #fff solid;
    color: #fff;
    opacity: 70%;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    text-align: left;
    background-color: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search-form__textfield::placeholder {
    color: #fff;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}

.search-form__textfield:active {
    border: 1px;
}

/* добавленнный элемент */

.search-form__textfield:focus {
    outline: none;
}

.search-form__textfield:focus-visible {
    outline: none;
}

label span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form__pseudo-checkbox {
    margin-right: 5px;
}

.search-form__checkbox+span {
    width: 19px;
    height: 19px;
    border: 1px #fff solid;
    background-color: inherit;
}

.search-form__checkbox:checked+span::after {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background-color: #FFF;
}

.search-form__label:has(.search-form__pseudo-checkbox):hover {
    text-decoration: underline 1px #fff solid;
    text-decoration-skip-ink: none;
}


.search-form__label-text:focus {
    outline: none;
}

.button {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    border: 1px #fff solid;
    color: #fff;
    letter-spacing: 0%;
    text-align: center;
    background-color: inherit;
    cursor: pointer;
}

.button:active {
    background-color: #545050;
}

.button:hover {
    text-decoration: underline 1px #FFF solid;
    text-decoration-skip-ink: none;
}

.button:focus {
    outline: none;
}

.button:focus-visible {
    outline: 1px #FFF solid;
    outline-offset: 1px;
}

.search-form__submit-button {
    width: 194px;
    height: 34px;
    margin-top: 19px;
    /* padding: 6px 73.5px; */
}

.content__list {
    height: 302px;
    overflow: auto;
}

.content__details {
    max-width: 100%;
    max-height: 100%;
}

.content__list-item:not(:last-child) {
    margin-bottom: 27px;
}

.content__video-card {
    display: grid;
    grid-template-columns: 1fr 194.5px;
    padding: 2px 0 2px 2px;
}

.content__video-card-thumbnail {
    max-width: 194px;
    max-height: 107px;
    object-fit: cover;
    object-position: center;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 75px;
    line-height: 0.95;
    margin-bottom: 18px;
    text-align: left;
    text-transform: uppercase;
}

.content__accent {
    color: #545050;
}

.content__card-link {
    display: block;
    text-decoration: none;
    margin: 2px;
}

.content__video-card-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 6px;
    color: #fff;
    text-align: left;
    text-overflow: ellipsis;
    text-transform: uppercase;
    overflow: hidden;
}

.content__video-card-description {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 0.9;
    color: #fff;
    text-align: left;
}


/* добавленнный элемент */

.search-form__label-text:focus-visible {
    outline: 1px #ffff;
    outline-offset: 1px;
}

.more-button {
    padding: 6px 146.5px;
    white-space: pre;
}

.content__card-link_current {
    background-color: #545050;
}

.content__card-link:active {
    background-color: #545050;
}

.content__card-link:hover {
    text-decoration: underline 1px #FFF;
    text-decoration-skip-ink: none;
    cursor: pointer;
}

.content__card-link:focus {
    outline: none;
}

.content__card-link:focus-visible {
    outline: 1px solid #fff;
}


/* это отсебятина */

.button[disabled] {
    opacity: 0.6;
}

.content__video-card-description-container {
    white-space: nowrap;
}